* {
    font-family: Arial;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 990px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header, section, footer {
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    justify-content: center;
}

footer {
    background-color: #f2f2f2;
    bottom: 0;
    width: 100%;

}

header, section {
    padding: 20px;
    text-align: center;
}


.card {
    background-color: cadetblue;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card form {
    display: flex;
    flex-direction: column;  /* Alteração feita aqui para colocar os itens do formulário em coluna */
}

.card label,
.card input,
.card textarea,
.card button {
    margin-bottom: 10px;
}

button:hover {
    background-color: #45a049;
}

.card form textarea{
    height: 200px;
}
