* {
    font-family: Arial;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 990px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header, section, footer {
    padding: 20px;
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
}

.gray-bg {
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
}

.centered-image {
    display: block;
    margin: 0;
    max-width: 100%;
    height: auto;
}

.eneias-info {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 20px;
}

.eneias-info p {
    text-align: left;
}

footer {
    background-color: #f2f2f2;
    bottom: 0;
    width: 100%;
    display: flex;

    justify-content: center;

}
