/* com o border-box ele remove tamanho do objeto para a soma do conteudo, bordar e padding ficar o tamanho completo definido pelo width e heigth*/
* {
    box-sizing: border-box;
}

/* remove espaçamento externo */
body{
    margin: 0;
}


p {
    color: blue;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-decoration: overline;
    text-transform: uppercase;
    /* letter-spacing: 5px; */
    /* word-spacing: 20px; */
    /* line-height: 40px; */
/*           direita, para baixo, esfumaçament e cor */
    text-shadow: 2px 2px 3px red;
}
